@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

@mixin headingXL {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
}

@mixin headingL {
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
}

@mixin headingM {
	font-weight: bold;
	font-size: 15px;
	line-height: 19px;
}

@mixin headingS {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 2.4px;
}

@mixin bodyXL {
	font-weight: lighter;
	font-size: 20px;
	line-height: 23px;
}

@mixin bodyL {
	font-weight: medium;
	font-size: 13px;
	line-height: 23px;
}

@mixin bodyM {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}

// $secondary-color-light: #F4F7FD;
// $background-color-light: #FFFFFF;
// $text-color-light: black;

// $secondary-color-dark: #20212C;
// $background-color-dark: #2B2C37;
// $text-color-light: white;

:root {
  --background-color: #2B2C37;
  --text-color: white;
  --secondary-color: #20212C;
	--navbar-border: rgba(148, 147, 147, 0.502);
}

// dark-theme related
$primary-color-dark: #635FC7;
$primary-text-color-dark: #FFFFFF;
$text-color: #FFFFFF;
$secondary-text-color-dark: #828FA3;

$ligth-purple: #A8A4FF;
$deep-purple: #000112;
$dark-gray: #3E3F4E;
$ligth-gray: #E4EBFA;
$deep-red: #EA5555;
$ligth-red: #FF9898;

$navbar-height: 64px;
$navbar-border: 10px;
$navbar-closed-border: 25px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar-wrapper {
	display: grid;
	justify-content: space-between;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--background-color);
	color: $primary-text-color-dark;
	height: $navbar-height;
	padding: 20px 16px;
	@include headingL;
}

.navbar-left-section {
	display: grid;
	grid-template-columns: auto auto;
	gap: 16px;
}

.navbar-right-section {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
}

.nav-dropdown-wrapper {
	cursor: pointer;
	color: var(--text-color);
}

.nav-dropdown-down-arrow {
	margin-left: 6px;
	transform: translateY(-50%);
	transition: transform 0.2s ease;
	cursor: pointer;
}

.add-button {
	border: none;
	margin: 0;
	padding: 8px 16px;
	transform: translateY(-15%);
	border-radius: 10px;
	background: $primary-color-dark;
	transition: background-color 0.3s ease;
}

.add-button .add-button-image {
  opacity: 1;  
  transition: opacity 0.3s ease;
}

.add-button:disabled {
	background: $primary-color-dark;
	opacity: 0.4;  
	transition: background-color 0.3s ease;
}

.add-button:disabled .add-button-image {
  opacity: 0.5;  
}

.home-wrapper {
	display: grid;
	height: calc(100vh - 64px);
	background-color: var(--secondary-color);
	margin-top: 64px;
}

.empty-board-message {
	color: $secondary-text-color-dark;
	@include headingL;
}

.empty-board-content {
	display: grid;
	grid-template-rows: auto auto;
}

.empty-board-message {
	display: flex;
	align-items: flex-end;
	justify-self: center;
	text-align: center;
}

.add-new-column-button-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 25px;
}

.add-column-button-image {
	margin-right: 5px;
}

.add-column-button {
	border: none;
	margin: 0;
	padding: 12px 16px;
	border-radius: 10px;
	color: $primary-text-color-dark;
	background: $primary-color-dark;
	cursor: pointer;
}

.navbar-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.navbar-modal {
	@include bodyL;
	border-radius: $navbar-border;
	width: 264px;
	height: 322px;
  background-color: var(--background-color);
	display: grid;
	grid-template-rows: 50px auto auto;
}

.navbar-modal-header {
	@include headingS;
	text-transform: uppercase;
	opacity: 0.6; 
	padding: 18px 24px;
	color: var(--text-color);
}

.navbar-modal-content {
	display: flex;
	height: 196px;
	overflow-y: scroll;
	flex-direction: column;
}

.navbar-modal-content {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--background-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color-dark;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $secondary-text-color-dark;
  }
}

.navbar-modal-content img.navbar-board-icon {
	margin-left: 24px;
}

.navbar-modal-board-option{
	padding: 13px 0px;
	color: $secondary-text-color-dark;
	transition: margin-right 0.3s ease, border-radius 0.3s ease, color 0.3s ease, background 0.3s ease;
	cursor: pointer;
}

.navbar-modal-board-option:hover {
	margin-right: 24px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	color:$primary-text-color-dark;
	background: $primary-color-dark;
}

.navbar-board-icon {
	margin-right: 13px;
	transform: translateY(15%);
}

.create-new-board {
	color: $primary-color-dark;
	max-height: 50px;
}

.create-new-board img.navbar-board-icon{
	margin-left: 24px;
}


.navbar-add-board-icon {
	margin-right: 5px;
}


.navbar-modal-footer {
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
	height: 80px;
	border-bottom-left-radius: $navbar-border;
	border-bottom-right-radius: $navbar-border;

}

.toggle-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--secondary-color);
	height: 48px;
	min-width: 235px;
	border-radius: 8px;
	padding: 0px 15px;
}

.theme-toggle-icon {
	height: 18px;
}

.theme-toggle-button {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background-color: $primary-color-dark;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
}

.toggle-slider {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

.theme-toggle-button.active .toggle-slider {
  transform: translateX(24px);
}

.theme-toggle-button:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.navbar-modal-board-option {
		svg.navbar-board-icon {
			margin-left: 24px;
		}
    color: $secondary-text-color-dark;
    &:hover {
        color: $primary-text-color-dark;
    }
}

.create-new-board {
    color: $secondary-text-color-dark;
		
    &:hover {
        color: $primary-text-color-dark;
    }
}

.logo-and-board-name-wrapper  {
	display: none;
}

.navgar-toggle {
	display: none;
}

.lateral-menu {
	display: none;
}

// tablet layout
@media only screen and (min-width: 768px) and (max-width: 2000px) {
  .nav-dropdown-wrapper {
		display: none;
	}

	.logo-and-board-name-wrapper {
		color: var(--text-color);
		display: grid;
		grid-template-columns: auto 210px;
		height: $navbar-height;
		transform: translateY(-20px);
	}

	.logo {
		display: flex;
		align-items: center;
		padding-right: 30px;
		@include headingXL;
	}

	.board-name {
		display: flex;
		align-items: center;
		border-left: var(--navbar-border) 0.5px solid;
		padding-left: 30px;
		@include bodyXL;
	}

	.header-item-l {
		transform: translateY(-3%);
	}

	.lateral-menu {
		display: block;
	}
	
	.lateral-menu-open {
		position: absolute;
		background-color: var(--background-color);
		width: 261px;
		height: 100vh;
		top:0px;
		z-index: 999;
		transition: transform 0.2s ease;
		border-right: var(--navbar-border) 0.5px solid;
		// opacity: 0.5;
	}

	.lateral-menu-closed {
		position: absolute;
		background-color: $primary-color-dark;
		width: 56px;
		height: 48px;
		bottom:36px;
		border-top-right-radius: $navbar-closed-border;
		border-bottom-right-radius: $navbar-closed-border;
		z-index: 999;
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	.lateral-menu-closed-image {
		color:$primary-text-color-dark;
		margin-left: 18px;
	}
	
	.inner-lateral-menu-header {
		padding:16px;
		height: $navbar-height;
		display: grid;
		grid-template-columns: 30px auto;
		gap: 16px;
		img {
		transform: translateY(15%);
		}
	}

	.project-name-wrapper {
		@include headingXL;
		color: var(--text-color);
		transform: translate(-3.3%, -2%);
	}

	// .logo-and-board-name-wrapper {
	// 	display: none;
	// }

	.board-name-side-bar-wrapper{
		position: absolute;
		width: 200px;
		height: calc($navbar-height - 19.5px);
		top: 19.5px;
		left: 261px;
		@include bodyXL;
		color: var(--text-color);
		background-color: var(--background-color);
		padding-left: 26px;
	}

	.inner-lateral-menu-body {
		// background-color: red;
		height: calc(100vh - $navbar-height);
	}

	.custom-menu-options {
		// background-color: red;
		width: 99%;
	}
	
	.custom-menu-options {
		// background-color: red;
		height: 90%;
	}

	.create-new-board {
		color: $primary-color-dark;
	}

	.navbar-modal {
		grid-template-rows: 50px auto 88px;
	}

	.hide-lateral-navbar-wrapper{
		color: white;
	}

	.lateral-navbar-lower-section{
		display: flex;
		justify-content: flex-start;
		padding-left: 31px;
		gap: 26px;
		cursor: pointer;
	}

	.hide-sidebar-text {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $secondary-text-color-dark;
		transform: translateY(-1px);
	}

	.hide-sidebar-icon{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
}

// desktop layout
@media only screen and (min-width: 1024px) {
  
}