@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

@mixin headingXL {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
}

@mixin headingL {
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
}

@mixin headingM {
	font-weight: bold;
	font-size: 15px;
	line-height: 19px;
}

@mixin headingS {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 2.4px;
}

@mixin bodyL {
	font-weight: medium;
	font-size: 13px;
	line-height: 23px;
}

@mixin bodyM {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}

$dark-purple: #635FC7;
$ligth-purple: #A8A4FF;
$deep-purple: #000112;
$dark-grayish-purple: #20212C;

$darker-gray: #2B2C37;
$dark-gray: #3E3F4E;
$mid-gray: #828FA3;
$ligth-gray: #E4EBFA;

$ligther-gray: #F4F7FD;
$white: #FFFFFF;
$deep-red: #EA5555;
$ligth-red: #FF9898;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar-wrapper {
	display: grid;
	justify-content: space-between;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $darker-gray;
	color: $white;
	height: 64px;
	padding: 20px 16px;
	@include headingL;
}

.navbar-left-section {
	display: grid;
	grid-template-columns: auto auto;
	gap: 16px;
}

.navbar-right-section {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
}

.nav-dropdown-wrapper {
	cursor: pointer;
}

.nav-dropdown-down-arrow {
	margin-left: 6px;
	transform: translateY(-50%);
	transition: transform 0.2s ease;
	cursor: pointer;
}

.add-button {
	border: none;
	margin: 0;
	padding: 8px 16px;
	transform: translateY(-15%);
	border-radius: 10px;
	background: $dark-purple;
	transition: background-color 0.3s ease;
}

.add-button .add-button-image {
  opacity: 1;  
  transition: opacity 0.3s ease;
}

.add-button:disabled {
	background: $dark-purple;
	opacity: 0.4;  
	transition: background-color 0.3s ease;
}

.add-button:disabled .add-button-image {
  opacity: 0.5;  
}

.home-wrapper {
	display: grid;
	height: calc(100vh - 64px);
	background-color: $dark-grayish-purple;
	margin-top: 64px;
}

.empty-board-message {
	max-width: 293px;
	color: $mid-gray;
	@include headingL;
}

.empty-board-content {
	display: grid;
	grid-template-rows: auto auto;
}

.empty-board-message {
	display: flex;
	align-items: flex-end;
	justify-self: center;
	text-align: center;
}

.add-new-column-button-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 25px;
}

.add-column-button-image {
	margin-right: 5px;
}

.add-column-button {
	border: none;
	margin: 0;
	padding: 12px 16px;
	border-radius: 10px;
	color: $white;
	background: $dark-purple;
}

.navbar-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.navbar-modal {
	@include bodyL;
	width: 264px;
	height: 322px;
  background-color: $darker-gray;
	display: grid;
	grid-template-rows: 50px auto auto;
}

.navbar-modal-header {
	@include headingS;
	text-transform: uppercase;
	opacity: 0.6; 
	padding: 18px 24px;
}

.navbar-modal-content {
	display: flex;
	height: 196px;
	overflow-y: scroll;
	flex-direction: column;
}

.navbar-modal-content {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $darker-gray;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark-purple;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $mid-gray;
  }
}

.navbar-modal-content img.navbar-board-icon {
	margin-left: 24px;
}

.navbar-modal-board-option{
	padding: 13px 0px;
	color: $mid-gray;
	transition: margin-right 0.3s ease, border-radius 0.3s ease, color 0.3s ease, background 0.3s ease;
	cursor: pointer;
}

.navbar-modal-board-option:hover {
	margin-right: 24px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	color:$white;
	background: $dark-purple;
}

.navbar-board-icon {
	margin-right: 13px;
	transform: translateY(15%);
}

.create-new-board {
	color: $dark-purple;
	max-height: 50px;
}

.create-new-board img.navbar-board-icon{
	margin-left: 24px;
}

.navbar-modal-board-option:hover .navbar-board-icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(163deg) brightness(102%) contrast(100%);
}

.navbar-board-icon {
	filter: invert(57%) sepia(35%) saturate(189%) hue-rotate(177deg) brightness(92%) contrast(87%);
}

// deixa add roxo sem o hover
.add-new-board-icon {
	max-height: 8px;
	margin-right: 4px;
	filter: invert(59%) sepia(95%) saturate(3990%) hue-rotate(219deg) brightness(80%) contrast(94%);
}

// deixa o board roxo sem o hover
.new-board-icon {
	filter: invert(59%) sepia(95%) saturate(3990%) hue-rotate(219deg) brightness(80%) contrast(94%);
}

.navbar-add-board-icon {
	margin-right: 5px;
}

.create-new-board:hover + .navbar-modal-board-option .navbar-add-board-icon,
.create-new-board:hover + .navbar-modal-board-option .new-board-icon,
.navbar-modal-board-option:hover .navbar-add-board-icon,
.navbar-modal-board-option:hover .new-board-icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(163deg) brightness(102%) contrast(100%);
}

.navbar-modal-footer {
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: $darker-gray;
	// min-height: 300px;
	height: 80px;

}

.toggle-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: $dark-grayish-purple;
	height: 48px;
	min-width: 235px;
	border-radius: 8px;
	padding: 0px 15px;
}

.theme-toggle-icon {
	height: 18px;
}

.theme-toggle-button {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background-color: $dark-purple;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
}

.toggle-slider {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

.theme-toggle-button.active .toggle-slider {
  transform: translateX(24px);
}

.theme-toggle-button:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}